<!DOCTYPE html>
<!-- 英語表記のときは消す -->
<html lang="ja">
  <body>
    <h1>Books</h1>
    <table>

      <thead>
        <tr>
          <th>Title</th>
          <th >Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>トラブル知らずのシステム設計</td>
          <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
          <td>
            <span class="books-link">
              Show
            </span>
          </td>
          <td>
            <span class="books-link">
              <a href="#">Edit</a>
            </span>
            </td>
          <td>
            <span class="books-link">
              <a href="#">Destroy</a>
            </span>
            </td>
        </tr>
      </tbody>
    </table>
    <h2>New book</h2>
    <%= form_with(model: @book, url:'/books', method: :post, local: true) do |f| %>
      <div class="form">
        <%= form.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="form">
        <%= form.label :author %>
        <%= f.text_ares :body %>
      </div>
      <div class="action">
        <%= f.submit 'Create Book' %>
      </div>
    <% end %>



  </body>
</html>